<div class="header">
  <div class="content">
    <div class="media">
      <!-- <svg
        width="35"
        height="35"
        viewBox="0 0 35 35"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M33.4195 10.2099V24.0129C33.4195 28.7774 29.5119 32.6398 24.6918 32.6398H10.7276C5.9075 32.6398 2 28.7774 2 24.0129V10.2099C2 5.44538 5.9075 1.58298 10.7276 1.58298H24.6918C29.5119 1.58298 33.4195 5.44538 33.4195 10.2099Z"
          stroke="#C2C2C2"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M15.9642 32.6398C15.9642 27.4637 15.9642 22.2875 15.9642 17.1114C15.9642 13.3371 16.8369 10.2099 22.9463 10.2099"
          stroke="#C2C2C2"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M12.4731 18.8368H15.9644H22.9471"
          stroke="#C2C2C2"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg> -->
      <svg
        width="37"
        height="37"
        viewBox="0 0 37 37"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18.5 25.8334C22.55 25.8334 25.8333 22.5501 25.8333 18.5C25.8333 14.45 22.55 11.1667 18.5 11.1667C14.4499 11.1667 11.1667 14.45 11.1667 18.5C11.1667 22.5501 14.4499 25.8334 18.5 25.8334Z"
          stroke="#C2C2C2"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M2 25.8333V11.1667C2 6.10406 6.10406 2 11.1667 2H25.8333C30.8959 2 35 6.10406 35 11.1667V25.8333C35 30.8959 30.8959 35 25.8333 35H11.1667C6.10406 35 2 30.8959 2 25.8333Z"
          stroke="#C2C2C2"
          stroke-width="3"
        />
        <path
          d="M28.5833 8.44768L28.6131 8.41466"
          stroke="#C2C2C2"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>

      <a
        href="https://www.linkedin.com/company/innovincitech/mycompany/"
        target="_blank"
      >
        <svg
          width="36"
          height="35"
          viewBox="0 0 36 35"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M33.5458 11.0652V24.8682C33.5458 29.6327 29.6383 33.4951 24.8182 33.4951H10.854C6.03384 33.4951 2.12634 29.6327 2.12634 24.8682V11.0652C2.12634 6.30066 6.03384 2.43826 10.854 2.43826H24.8182C29.6383 2.43826 33.5458 6.30066 33.5458 11.0652Z"
            stroke="#C2C2C2"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M9.10849 26.5946V20.5553V14.5159"
            stroke="#C2C2C2"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M16.0905 26.5946V20.9866M16.0905 20.9866V14.5159M16.0905 20.9866C16.0905 14.5159 26.5646 14.5159 26.5646 20.9866V26.5946"
            stroke="#C2C2C2"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M9.10849 9.37384L9.14072 9.33788"
            stroke="#C2C2C2"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>

      <a href="https://wa.me/19299893634" target="_blank">
        <svg
          width="36"
          height="35"
          viewBox="0 0 36 35"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M17.9918 33.2298C26.8328 33.2298 34 26.1453 34 17.4064C34 8.66735 26.8328 1.58298 17.9918 1.58298C9.15077 1.58298 1.98367 8.66735 1.98367 17.4064C1.98367 20.2884 2.76322 22.9906 4.12528 25.3181L2.78408 32.4386L9.98775 31.1129C12.3423 32.4592 15.0761 33.2298 17.9918 33.2298Z"
            stroke="#C2C2C2"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M22.1226 19.298L19.2874 19.841C17.3722 18.8909 16.1893 17.7995 15.5008 16.0982L16.0309 13.2876L15.0289 10.654H12.4465C11.6702 10.654 11.0589 11.2881 11.1748 12.0468C11.4643 13.9409 12.3177 17.3752 14.8123 19.841C17.4321 22.4306 21.2052 23.5542 23.2818 24.0009C24.0838 24.1734 24.7951 23.555 24.7951 22.7438V20.3046L22.1226 19.298Z"
            stroke="#C2C2C2"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
    </div>

    <a class="toggle-button" style="width: 30px">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>

    <div class="logo">
      <img
        src="../../../assets/images/ezgif.com-gif-maker (25).avif"
        alt="innoLogo"
      />
    </div>

    <a class="toggle-button" style="width: 30px"> </a>

    <div class="options" id="navbarResponsive">
      <ul class="box arrow-top">
        <li>
          <a
            href="#home"
            pageScroll
            class="links"
            [pageScrollDuration]="700"
            (click)="collapseNavbar()"
            [pageScrollOffset]="80"
            >HOME</a
          >
        </li>
        <li>
          <a
            href="#client-section"
            pageScroll
            [pageScrollDuration]="700"
            [pageScrollOffset]="90"
            class="links"
            (click)="collapseNavbar()"
            >CLIENTS</a
          >
        </li>
        <li>
          <a
            href="#services"
            pageScroll
            class="links"
            [pageScrollDuration]="700"
            [pageScrollOffset]="80"
            (click)="collapseNavbar()"
            >SERVICES</a
          >
        </li>
    
        <li>
          <a
            href="#about"
            pageScroll
            class="links"
            [pageScrollDuration]="700"
            [pageScrollOffset]="80"
            (click)="collapseNavbar()"
            >ABOUT</a
          >
        </li>
        <li>
          <a
            href="#subscribe"
            pageScroll
            [pageScrollDuration]="700"
            [pageScrollOffset]="80"
            class="links"
            (click)="collapseNavbar()"
            >QUOTE</a
          >
        </li>
        <li class="follow">Follow Us</li>
        <li>
          <div class="list">
            <!-- <svg
              width="35"
              height="35"
              viewBox="0 0 35 35"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M33.4195 10.2099V24.0129C33.4195 28.7774 29.5119 32.6398 24.6918 32.6398H10.7276C5.9075 32.6398 2 28.7774 2 24.0129V10.2099C2 5.44538 5.9075 1.58298 10.7276 1.58298H24.6918C29.5119 1.58298 33.4195 5.44538 33.4195 10.2099Z"
                stroke="#C2C2C2"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M15.9642 32.6398C15.9642 27.4637 15.9642 22.2875 15.9642 17.1114C15.9642 13.3371 16.8369 10.2099 22.9463 10.2099"
                stroke="#C2C2C2"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12.4731 18.8368H15.9644H22.9471"
                stroke="#C2C2C2"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg> -->

            <a
              href="https://www.linkedin.com/company/innovincitech/mycompany/"
              target="_blank"
            >
              <svg
                width="36"
                height="35"
                viewBox="0 0 36 35"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M33.5458 11.0652V24.8682C33.5458 29.6327 29.6383 33.4951 24.8182 33.4951H10.854C6.03384 33.4951 2.12634 29.6327 2.12634 24.8682V11.0652C2.12634 6.30066 6.03384 2.43826 10.854 2.43826H24.8182C29.6383 2.43826 33.5458 6.30066 33.5458 11.0652Z"
                  stroke="#C2C2C2"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9.10849 26.5946V20.5553V14.5159"
                  stroke="#C2C2C2"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M16.0905 26.5946V20.9866M16.0905 20.9866V14.5159M16.0905 20.9866C16.0905 14.5159 26.5646 14.5159 26.5646 20.9866V26.5946"
                  stroke="#C2C2C2"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9.10849 9.37384L9.14072 9.33788"
                  stroke="#C2C2C2"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>

            <a href="https://wa.me/19299893634" target="_blank">
              <svg
                width="36"
                height="35"
                viewBox="0 0 36 35"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M17.9918 33.2298C26.8328 33.2298 34 26.1453 34 17.4064C34 8.66735 26.8328 1.58298 17.9918 1.58298C9.15077 1.58298 1.98367 8.66735 1.98367 17.4064C1.98367 20.2884 2.76322 22.9906 4.12528 25.3181L2.78408 32.4386L9.98775 31.1129C12.3423 32.4592 15.0761 33.2298 17.9918 33.2298Z"
                  stroke="#C2C2C2"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M22.1226 19.298L19.2874 19.841C17.3722 18.8909 16.1893 17.7995 15.5008 16.0982L16.0309 13.2876L15.0289 10.654H12.4465C11.6702 10.654 11.0589 11.2881 11.1748 12.0468C11.4643 13.9409 12.3177 17.3752 14.8123 19.841C17.4321 22.4306 21.2052 23.5542 23.2818 24.0009C24.0838 24.1734 24.7951 23.555 24.7951 22.7438V20.3046L22.1226 19.298Z"
                  stroke="#C2C2C2"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
            <a>
              <svg
                width="37"
                height="37"
                viewBox="0 0 37 37"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M18.5 25.8334C22.55 25.8334 25.8333 22.5501 25.8333 18.5C25.8333 14.45 22.55 11.1667 18.5 11.1667C14.4499 11.1667 11.1667 14.45 11.1667 18.5C11.1667 22.5501 14.4499 25.8334 18.5 25.8334Z"
                  stroke="#C2C2C2"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M2 25.8333V11.1667C2 6.10406 6.10406 2 11.1667 2H25.8333C30.8959 2 35 6.10406 35 11.1667V25.8333C35 30.8959 30.8959 35 25.8333 35H11.1667C6.10406 35 2 30.8959 2 25.8333Z"
                  stroke="#C2C2C2"
                  stroke-width="3"
                />
                <path
                  d="M28.5833 8.44768L28.6131 8.41466"
                  stroke="#C2C2C2"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
            <br />
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
