<app-header></app-header>

<div id="home" class="home">
  <div class="section">
    <div class="contents" id="svg-container">
      <svg
        width="229"
        height="216"
        viewBox="-9 -9 189 196"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="zoom1"
      >
        <text x="85" y="180" text-anchor="middle" fill="white" opacity="0">
          IDEA
        </text>
        <g filter="url(#filter0_d_120_12)">
          <path
            d="M144.368 21L137.737 27.6316"
            stroke="#7A7A7A"
            stroke-width="11"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M25 21L31.6316 27.6316"
            stroke="#7A7A7A"
            stroke-width="11"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M144.368 113.842L137.737 107.211"
            stroke="#7A7A7A"
            stroke-width="11"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M25 113.842L31.6316 107.211"
            stroke="#7A7A7A"
            stroke-width="11"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M64.7895 127.105H104.579"
            stroke="#7A7A7A"
            stroke-width="11"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M71.4211 147H97.9474"
            stroke="#7A7A7A"
            stroke-width="11"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M84.6829 27.6316C58.1559 27.6316 44.5755 40.5651 44.8937 60.7895C45.0488 70.6499 48.2085 77.3684 54.8411 84C61.4737 90.6316 64.7895 93.9474 64.7885 107.211H104.578C104.579 93.9481 107.895 90.6316 114.524 84.0007C121.155 77.3691 124.318 70.6499 124.472 60.7895C124.791 40.5651 111.211 27.6316 84.6829 27.6316Z"
            stroke="#7A7A7A"
            stroke-width="11"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </g>

        <defs>
          <filter
            id="filter0_d_120_12"
            x="0.5"
            y="0.5"
            width="168.368"
            height="175"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feColorMatrix
              in="SourceAlpha"
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              result="hardAlpha"
            />
            <feOffset dy="4" />
            <feGaussianBlur stdDeviation="9.5" />
            <feComposite in2="hardAlpha" operator="out" />
            <feColorMatrix
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"
            />
            <feBlend
              mode="normal"
              in2="BackgroundImageFix"
              result="effect1_dropShadow_120_12"
            />
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="effect1_dropShadow_120_12"
              result="shape"
            />
          </filter>
        </defs>
      </svg>
      <svg
        width="229"
        height="216"
        viewBox="-48 -30 189 196"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="zoom1"
      >
        <text x="48" y="150" text-anchor="middle" fill="white" opacity="0">
          INCEPTION
        </text>
        <path
          d="M94.6103 60.6314V25.2285C94.6103 24.3273 94.2524 23.463 93.6153 22.8258L75.7843 4.99524C75.1472 4.35797 74.283 4 73.382 4H7.39788C5.52129 4 4 5.52129 4 7.39788V113.865C4 115.742 5.52129 117.263 7.39788 117.263H43.642"
          stroke="#7A7A7A"
          stroke-width="7"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M26.6526 49.3052H71.9577M26.6526 26.6526H49.3052M26.6526 71.9577H43.642"
          stroke="#7A7A7A"
          stroke-width="7"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M83.024 88.6038L88.6872 82.9407C91.1671 80.4608 95.1879 80.4608 97.6678 82.9407C100.148 85.4206 100.148 89.4414 97.6678 91.9213L92.0046 97.5845M83.024 88.6038L66.085 105.543C65.2361 106.392 64.6788 107.489 64.4942 108.675L63.1198 117.489L71.9333 116.115C73.1198 115.93 74.2161 115.372 75.0651 114.523L92.0046 97.5845M83.024 88.6038L92.0046 97.5845"
          stroke="#7A7A7A"
          stroke-width="7"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M71.9577 4V23.2547C71.9577 25.1313 73.4788 26.6526 75.3556 26.6526H94.6103"
          stroke="#7A7A7A"
          stroke-width="7"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>

      <svg
        width="229"
        height="216"
        viewBox="-34 -22 189 196"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="zoom1"
      >
        <text x="64" y="155" text-anchor="middle" fill="white" opacity="0">
          EXECUTION
        </text>
        <path
          d="M62.064 96.9024C81.3047 96.9024 96.9024 81.3047 96.9024 62.064C96.9024 42.8233 81.3047 27.2256 62.064 27.2256C42.8233 27.2256 27.2256 42.8233 27.2256 62.064C27.2256 81.3047 42.8233 96.9024 62.064 96.9024Z"
          stroke="#7A7A7A"
          stroke-width="7"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M96.9024 62.0641H62.064M62.064 62.0641L44.6448 31.8866M62.064 62.0641L44.6448 92.2417"
          stroke="#7A7A7A"
          stroke-width="7"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M62.064 102.709C84.5115 102.709 102.709 84.5115 102.709 62.064C102.709 39.6165 84.5115 21.4192 62.064 21.4192C39.6165 21.4192 21.4192 39.6165 21.4192 62.064C21.4192 84.5115 39.6165 102.709 62.064 102.709Z"
          stroke="#7A7A7A"
          stroke-width="7"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-dasharray="11.87 35.61"
        />
        <path
          d="M62.064 120.128C94.1316 120.128 120.128 94.1316 120.128 62.064C120.128 29.9961 94.1316 4 62.064 4C29.9961 4 4 29.9961 4 62.064C4 94.1316 29.9961 120.128 62.064 120.128Z"
          stroke="#7A7A7A"
          stroke-width="7"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M62.064 79.4832C71.6846 79.4832 79.4832 71.6846 79.4832 62.064C79.4832 52.4434 71.6846 44.6448 62.064 44.6448C52.4434 44.6448 44.6448 52.4434 44.6448 62.064C44.6448 71.6846 52.4434 79.4832 62.064 79.4832Z"
          stroke="#7A7A7A"
          stroke-width="7"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <svg
        width="229"
        height="216"
        viewBox="-18 -32 189 196"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="zoom1"
      >
        <text x="79" y="150" text-anchor="middle" fill="white" opacity="0">
          DELIVERY
        </text>

        <path
          d="M143.658 4L4 59.1282L55.453 66.4786M143.658 4L125.282 114.256L55.453 66.4786M143.658 4L55.453 66.4786M55.453 66.4786V106.906L79.3331 82.8179"
          stroke="#7A7A7A"
          stroke-width="7"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<div class="our-client" >
  <div class="title-client" id="client-section">OUR CLIENTS</div>
  <!-- client -->
  <section class="client">
    <section class="client-section">
      <ngx-slick-carousel [config]="slideConfigItemWithoutArrows" class="slickCarousal">
        <div *ngFor="let client of ourClients ; let isFirst = first"  class="main" ngxSlickItem>
          <div class="slider-img" [ngClass]="{'first-image': isFirst}">
            <img src="{{ client?.img }}" alt="" />
          </div>
        </div>
      </ngx-slick-carousel>
    </section>
  </section>
</div>

<div id="services" class="services">
  <div class="heading">
    <div class="title">Services and Technologies</div>
    <div class="buttons">
      <button
        id="1"
        (click)="onButtonClick(1)"
        [class.clicked]="selectedButton === 1"
      >
        Project Management
      </button>
      <button
        id="2"
        (click)="onButtonClick(2)"
        [class.clicked]="selectedButton === 2"
      >
        Web Development
      </button>
      <button
        id="3"
        (click)="onButtonClick(3)"
        [class.clicked]="selectedButton === 3"
      >
        Quality Assurance
      </button>
      <button
        id="4"
        (click)="onButtonClick(4)"
        [class.clicked]="selectedButton === 4"
      >
        Mobile Development
      </button>
      <button
        id="5"
        (click)="onButtonClick(5)"
        [class.clicked]="selectedButton === 5"
      >
        Cloud Services
      </button>
      <button
        id="6"
        (click)="onButtonClick(6)"
        [class.clicked]="selectedButton === 6"
      >
        User Experience
      </button>
    </div>
  </div>
  <!-- <div class="circle"> -->
  <div #circleContainer class="circle-container"></div>
  <!-- </div> -->
</div>



<div id="about" class="aboutUs">
  <div class="text">
    <b>About Us</b> <br />
    We aspire to be the best in all we do, inspiring the confidence and ambition
    that enable our staff and customers to reach their full technology’s
    potential. IT should not just be seen as a tool that enables the day-to-day
    running of the business. As a matter of fact, IT can help a business grow in
    a number of key areas, such as developing new revenue streams, streamlining
    processes, increasing efficiency, and increasing cost competitiveness.
    Furthermore, IT can enable the creation of a crucial network between
    partners, clients, or even employees.
  </div>
  <div class="image"></div>
</div>
<!-- <div class="testimonials"id="testimonials">
  <div class="title">Testimonials</div> -->
  <!-- testimonials -->
  <!-- <section class="client" >
    <section class="client-section">
      <ngx-slick-carousel [config]="  slideConfigItemWithArrows" class="slickCarousalTestimonials">
        <div *ngFor="let testimonial of testimonials ; let isFirst = first"  class="main" ngxSlickItem>
          <div class="slider-img" [ngClass]="{'first-image': isFirst}">
            <img src="{{ testimonial?.Image }}" alt="" />
          </div>
          <div class="Slider-text">
            <p>{{ testimonial?.cName }}</p>
            <p>{{ testimonial?.desig }}</p>
            <p>{{ testimonial?.companyName }}</p>

          </div>
          <div class="star-icon">
            <span *ngFor="let i of testimonial.starsArray" class="fa fa-star"></span>
          </div>
          <div class="slider-paragraph">
            <p>
              {{ testimonial?.desc }}
            </p>
          </div> 
         </div>
      </ngx-slick-carousel>
    </section>
  </section> -->
<!-- </div> -->

<div class="subscribe" id="subscribe">
  <div class="title">GET A QUOTE!</div>
  <div class="news">Send us your idea to get an instant quote</div>
  <div class="form">
    <div class="inputs">
      <input
        class="emailInput"
        type="text"
        name="name"
        [(ngModel)]="name"
        placeholder="Name"
        required
      />

      <input
        class="emailInput"
        type="email"
        name="email"
        [(ngModel)]="email"
        placeholder="Email"
        required
      />

      <input
        class="emailInput"
        type="text"
        name="phone"
        [(ngModel)]="phone"
        placeholder="Phone"
        required
      />
    </div>

    <div class="msgBtn">
      <textarea
        class="emailInput msg"
        type="text"
        name="message"
        rows="6"
        [(ngModel)]="message"
        placeholder="Message"
        required
      ></textarea>
      <button class="submitBtn" (click)="composeEmail()">Submit</button>
    </div>
  </div>
</div>

<app-footer></app-footer>
